
.settings-profile-container {
  height: 80vh;
  padding: 20px;
} 

.user-sidebar {
  
  height: 88vh;
}

.profile-card {
  width: 267px;
  height: 321px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1.5px solid var(--unnamed-color-dddddd);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #DDDDDD;
  border-radius: 6px;
  opacity: 1;
}

.p-name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-nunito-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-080730);
  text-align: center;
  font: normal normal bold 14px/19px Nunito Sans;
  letter-spacing: 0px;
  color: #080730;
  line-height: 0.0000033px;
  opacity: 1;
}

.p-ID {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-nunito-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-8e8e8e);
  text-align: center;
  font: normal normal 600 14px/19px Nunito Sans;
  letter-spacing: 0px;
  color: #8E8E8E;
  line-height: 0.0000033px;
  opacity: 1;
}

.p-role {
  line-height: 0.0000033px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-nunito-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-24a047);
  text-align: center;
  font: normal normal 600 14px/19px Nunito Sans;
  letter-spacing: 0px;
  color: #24A047;
  opacity: 1;
}

.active-button {
  height: 40px;
  background: var(--unnamed-color-24a047) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #24A047 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  opacity: 1;
  color: #FFFFFF;
  width: 100%;
}

.delete-icon {
  font-size: 20px;
  color: #080730;
  opacity: 1;
}

.icon-container {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  padding: 6px;
  padding-top: 13;
  padding-bottom: 13px;
  margin-top: 50px;
  border-radius: 4px;
  opacity: 1;
}

.icon1 {
  margin-right: -50px !important;
}

.icon2 {
  margin-left: -10px;
}

#panel1, #panel2 {
  border: 1px solid #DDDDDD;
  margin-bottom: 10px;
  background: #FFFFFF;
}

input, select {
  height: 45px !important;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-080730);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #080730;
  border-radius: 4px;
  opacity: 1;
}

.check-container {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 10px;
}

#label-span {
  padding-top: 100px !important;
}

div.add-permission, .view-permission, .edit-permission, .delete-permission {
  border: 1px solid #DDDDDD;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.add-permission ul, .view-permission ul, .edit-permission ul, .delete-permission ul {
  padding-top: 7px;
}


.add-permission ul li, .view-permission ul li, .edit-permission ul li, .delete-permission ul li {
  display: inline;
}

#checkbox {
  margin-top: -10px;
  /* margin-right: 20px; */
  margin-left: -30px !important;
  width: 24px;
  height: 24px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D4D4D5;
  border-radius: 4px;
  opacity: 1;
}

.describe {
  margin-left: 7px;
  margin-top: 5px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 12px/16px var(--unnamed-font-family-nunito-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-080730);
  text-align: left;
  font: normal normal 600 12px/16px Nunito Sans;
  letter-spacing: 0px;
  color: #080730;
  opacity: 1;
}

.discard {
  height: 50px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-dddddd);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  width: 100%;
  border-radius: 4px;
  opacity: 1;
}

.save {
  height: 50px;
  width: 100%;
  background: var(--unnamed-color-080730) 0% 0% no-repeat padding-box;
  background: #080730 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 1;
}