/* div.main-sidebar-container {
  background: var(--unnamed-color-080730) 0% 0% no-repeat padding-box;
  background: #080730 0% 0% no-repeat padding-box !important;
  /* width: 330px; */
/* } */ */

.main-sidebar {
  top: 0px;
  left: 0px;
  border-left: 4px solid #E87C23 !important;
  min-width: 350px !important;
  min-height: 100vh;
  overflow: auto;
  padding-top: 20px;
  padding-left: 70px;
  background: var(--unnamed-color-080730) 0% 0% no-repeat padding-box;
  background: #080730 0% 0% no-repeat padding-box !important;
  opacity: 1;
}

#sidebar-menu-container {
  background: #080730 0% 0% no-repeat padding-box !important;
  width: 100%;
}

.ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right {
  border-right: 0;
  width: 150px !important;
  min-height: 99vh !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  margin-top: 58px !important;
  color: #FFFFFF;
}

#report {
  margin-bottom: 40px;
}

.sidebar-label-title {
  margin-left: 25px;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
  color: #E87C23!important;
}

.iconText {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-nunito-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal 600 16px/22px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.menu {
  margin-bottom: 56px;
}

.logo-container {
  margin-bottom: 59px;

  display: flex;
}

.logo-container img {
  height: 77px !important;
}

.icons {
  width: 329px;
  height: 60px;
  margin-right: 27px !important;
  border-radius: 4px;
  opacity: 1,
}

@media only screen and (max-width: 490px) {
  .main-sidebar {
    display: none;
  }
}